<div class="form-group">
  <label for="usr">{{label}}:</label>
  <input type="{{type}}" class="form-control" id="usr" placeholder="{{placeholder}}" (input)="onInput($event)" />
</div>
<reactive-p>
    By accepting these terms, I, {{name}}, understand and agree that, as stated before, I'm waiving your right to
    resolve any dispute through other processes that could be available to me, such as court actions or
    administrative proceedings. It also means that I'm waiving your rights to a trial by jury or to combine
    my dispute with others in a class action.
</reactive-p>